/* color logo: #aad3d5;*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
   margin:0%; 
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-image: url(Img/dream-sky-677383.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: fadeIn;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}

.Portada{
    display: inline-flex;
    align-items: center;
    justify-content: center;

   margin: 0px;
   width: 100vw;
   height: 100vh;
   animation-name: fadeIn;
   animation-duration: 5s;
   animation-fill-mode: forwards;
}
.Portada img{
    height: 100vh;
    overflow: hidden;
}

@media only screen and (max-width: 500px) {

    .Portada img{
        width: 100vw; 
        height: 40vh;  
    }   
}

#navigation {          
    display: inline-flex;
    align-items: center;
    z-index: 1;
    top: 0px;
    position: sticky;
    height: 100%;
    width: 100%;
    background-color: rgb(213 201 170);
    font-family: 'Lato', sans-serif;
    border-bottom: 2px solid;
    border-color: rgba(22, 22, 22, 0.2);
    
}

nav{
    display: inline-flex;
    text-align: right;
    width: 100%;
    gap: 4%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

}

.Logo {
    display: grid;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    margin-left: 5%;
    height: 45px;
    text-align: center;

}

.Logo img{
    height: 100%;
    width: 100%;
    margin: 5%;
    max-height: 100px;
}

.Logo h2 {
    font-family: 'Courier Prime', monospace;
    height: 100%;
    margin: 0%;
    font-size: 100%;
}

.Logo h1 {
    font-family: 'Sacramento', cursive;
    height: 100%;
    margin: 0%;

}



a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 2%;
}

a:hover {
   color: rgb(46, 46, 46);
}

.main {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
}

.DefaultBox {
    
    margin: 1%;
    background-size: cover;
    min-height: 100px;
    min-width: 400px;
    max-width: 1920px;
    
    
}

.DefaultBoxContent{ 
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    width: 100%;
    text-align: justify;
    
}

.BoxImg img{
    width: 100%;

}


.DefaultBox h2 {
    font-family: 'Lato', sans-serif;
    color: #006b39;
    padding-left: 5%;
    padding-right: 5%;
}

.DefaultBox p {
    color: black;
    font-family: 'Lato', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}
.DefaultBox img{
    display: block;
    text-align: center;
    margin-right: -60px;
    background-color: rebeccapurple;
    clip-path: circle(39% at 50% 50%);
    z-index: -3;
}


.Formulario{

    width: 40%;
    background-color: rgba(0, 0, 0, 0.144);
    padding: 2%;
    margin: 5%;
}
    

.Formulario form{
    color: black;
    display: grid;
    gap: 2%;
    justify-content: center;
    grid-template-columns: 90%;
}

.Formulario input{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.Formulario h2{
    font-family: 'Lato', sans-serif;
    color: #006b39;
}

label{
    font-family: 'Lato', sans-serif;
}




@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 100%
	}

}